---
import type { locale } from "../../../assets/types/i18n";
import { imagesUrl } from "../../../util/imageUrl";
import Close from "../../icons/Close.astro";

interface Props {
  imageFileName: string;
  caption: string;
  closeLabel: string;
}

const { imageFileName, caption, closeLabel } = Astro.props;
---

<dialog
  class="full-width-dialog fixed top-0 backdrop:bg-black backdrop:opacity-90 bg-transparent w-screen h-screen mx-auto overflow-hidden"
  id={imageFileName}
>
  <div class="h-full overflow-auto">
    <figure class="flex items-center justify-center flex-col mt-16">
      <img src={imagesUrl(imageFileName)} alt="" />
      <figcaption class="text-brand-white font-bold text-2xl">
        {caption}
      </figcaption>
    </figure>
    <form method="dialog">
      <button
        aria-label={closeLabel}
        class="absolute active:opacity-70 flex items-center justify-center active:bg-brand-white rounded-full w-10 h-10 align top-0 right-0 cursor-pointer focus-item motion-safe:transition-colors text-brand-white text-4xl"
      >
        <Close />
      </button>
    </form>
  </div>
</dialog>

<style scoped>
  @keyframes jumpIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  form button:hover {
    background-color: rgba(224, 244, 244, 0.3);
  }

  @media (prefers-reduced-motion: no-preference) {
    img {
      animation: jumpIn 0.5s ease-in-out;
    }
  }
</style>
