@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
  row-gap: 32px;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.focus-item:focus-visible {
  outline: 3px solid #a3e3e3;
}

.screenreader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@theme {
  --color-black: #221E20;
  --color-brand-white: #e0e0e0;
  --color-gray: #ddd;
  --color-link-blue: #1A0DAB;

  --breakpoint-sm: 320px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
}