@import "tailwindcss";

* {
  box-sizing: border-box;
}

.focus-item:focus-visible {
  outline: 3px solid #a3e3e3;
}

.screenreader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@theme {
  --color-black: #221E20;
  --color-brand-white: #e0e0e0;
  --color-gray: #ddd;
  --color-link-blue: #1A0DAB;

  --breakpoint-sm: 320px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
}