---
import type { HTMLAttributes } from "astro/types";
import type { locale } from "../../assets/types/i18n";

interface Props extends HTMLAttributes<"a"> {
  language?: locale;
  className?: string;
}

const { hreflang, language, className, ...props } = Astro.props;
---

<a
  {...props}
  class:list={[
    "bg-black text-brand-white border border-black rounded inline-flex justify-center items-center hover:bg-white focus:bg-white active:bg-white hover:text-black focus:text-black active:text-black hover:border-black focus-item motion-safe:transition-colors cursor-pointer active:underline",
    className,
  ]}
  hreflang={hreflang || language}
>
  <slot />
</a>
