---
import type { locale } from "../../../assets/types/i18n";
import { navigationTranslations } from "../../../translations/nav";

interface Props {
  language: locale;
}

type Link = {
  value: string;
};

const { language } = Astro.props;
const translations = navigationTranslations[language];

const links: Link[] = [
  {
    value: translations.home,
  },
  {
    value: translations.catalogue,
  },
  {
    value: translations.customers,
  },
  {
    value: translations.portfolio,
  },
  {
    value: translations.about,
  },
  {
    value: translations.contacts,
  },
];
---

<nav class="bg-black">
  <a href={`/${language}`}>
    <img
      class="rounded-xs"
      srcset="/src/assets/images/logo_navbar_mobile.png 170w,
      /src/assets/images/logo_navbar_small_tablet.png 250w,
      /src/assets/images/logo_navbar_large.png"
      sizes="(max-width: 320px) 170px,
      (max-width: 744px) 250px"
      alt=""
    />
  </a>
  <div>
    <a href="/en">EN</a>
    <button id="open-mobile-menu"> </button>
  </div>
</nav>
